#main {
  font-family: 'Geometria-Light', sans-serif;
  margin-top: 70px; }
  #main .row {
    padding: 0;
    margin: 0;
    color: white; }
    #main .row .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: .3s; }
  #main .section-title {
    text-align: center;
    z-index: 10; }
    #main .section-title h2 {
      font-family: 'Geometria-Bold', sans-serif;
      text-transform: uppercase;
      padding: 10px 0px;
      font-size: 3em; }
    #main .section-title .separator {
      height: 5px;
      width: 20%;
      background: #02152E;
      transition: 0.3s; }
    #main .section-title .subtitle {
      text-transform: uppercase;
      margin-top: 15px; }
    #main .section-title .bloc-icons {
      margin-top: 15px; }
      #main .section-title .bloc-icons i {
        padding: 0 5px; }
    #main .section-title .bloc-link {
      display: inline-block;
      font-family: 'Roboto Slab', serif;
      font-style: oblique;
      margin-top: 30px;
      border: 2px solid #B69753;
      transition: .3s; }
      #main .section-title .bloc-link a {
        padding: 15px;
        display: block;
        width: 100%; }
    #main .section-title .bloc-link:hover {
      background: #B69753; }
  #main .section-left {
    position: relative;
    background-image: url("../img/room-brigitte-1.jpg");
    background-size: 370%;
    background-position: center;
    height: calc(100vh - 70px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s; }
  #main .section-left:hover {
    background-size: 400%; }
  #main .section-left:hover .section-title .separator {
    width: 100%; }
  #main .section-left:hover .overlay {
    background: rgba(255, 255, 255, 0.2); }
  #main .section-right {
    height: calc(100vh - 70px);
    padding: 0;
    margin: 0; }
    #main .section-right .section-left-item:first-child {
      height: 50%;
      background-image: url("../img/restaurant-2.jpg");
      background-size: 235%;
      background-position: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s; }
    #main .section-right .section-left-item:first-child:hover {
      background-size: 250%; }
    #main .section-right .section-left-item:first-child:hover .section-title .separator {
      width: 100%; }
    #main .section-right .section-left-item:first-child:hover .overlay {
      background: rgba(255, 255, 255, 0.2); }
    #main .section-right .section-left-item:last-child {
      height: 50%;
      background-image: url("../img/spa-3.jpg");
      background-size: 180%;
      background-position: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s; }
    #main .section-right .section-left-item:last-child:hover {
      background-size: 200%; }
    #main .section-right .section-left-item:last-child:hover .section-title .separator {
      width: 100%; }
    #main .section-right .section-left-item:last-child:hover .overlay {
      background: rgba(255, 255, 255, 0.2); }

/*# sourceMappingURL=main.css.map */
