@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300");
body, h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

* {
  box-sizing: border-box; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

strong {
  font-weight: inherit; }

ul {
  list-style-type: none; }

input, select {
  outline: none; }

html {
  scroll-behavior: smooth; }

@font-face {
  font-family: 'Geometria-Light';
  src: url("../fonts/webfonts/367441_0_0.eot");
  src: url("../fonts/webfonts/367441_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/367441_0_0.woff2") format("woff2"), url("../fonts/webfonts/367441_0_0.woff") format("woff"), url("../fonts/webfonts/367441_0_0.ttf") format("truetype"); }
@font-face {
  font-family: 'Geometria-Bold';
  src: url("../fonts/webfonts/Geometria-Bold.eot");
  src: url("../fonts/webfonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/webfonts/Geometria-Bold.woff") format("woff"), url("../fonts/webfonts/Geometria-Bold.ttf") format("truetype"); }
.container-fluid {
  padding: 0; }

#bloc-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

#header {
  font-family: 'Geometria-Light', sans-serif;
  font-size: 0.8em;
  color: #02152E;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: relative;
  -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
  #header aside {
    max-width: 60px;
    min-width: 60px;
    text-align: center;
    color: #FFFFFF; }
    #header aside #button-menu {
      padding: 10px 10px;
      width: 60px;
      height: 60px;
      cursor: pointer;
      text-align: center;
      background: #bc9e48;
      color: #02152E; }
    #header aside .header-booking {
      display: none; }
  #header .header-bloc-right {
    height: 60px;
    background: #02152E; }
  #header .header-bloc-right-item a, #header .header-bloc-right-item span {
    display: block;
    width: 100%;
    height: 70px;
    line-height: 60px;
    cursor: pointer; }
  #header .header-bloc-right-item #text-search, #header .header-bloc-right-item #text-basket {
    display: none; }
  #header nav {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: calc(100% - 120px);
    background: rgba(255, 255, 255, 0.9);
    height: 60px;
    background: #FFFFFF; }
    #header nav .logo {
      text-align: center;
      font-size: 3em;
      letter-spacing: -0.08em;
      font-weight: bold;
      width: 100%;
      margin: 0px 10px; }
      #header nav .logo a {
        line-height: 60px; }
    #header nav .nav-list {
      text-align: center;
      line-height: 35px;
      width: 100%;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      display: none;
      -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
      #header nav .nav-list .sub-nav {
        display: none; }
      #header nav .nav-list .nav-item {
        background: #FFFFFF; }
        #header nav .nav-list .nav-item a {
          display: block;
          width: 100%; }
        #header nav .nav-list .nav-item:hover {
          background: #bc9e48;
          color: #FFFFFF; }
      #header nav .nav-list .sub-nav-item {
        color: #02152E;
        background: #bc9e48; }
      #header nav .nav-list .booking-link {
        background: #02152E;
        color: #FFFFFF;
        cursor: pointer; }
  #header .lang {
    position: absolute;
    top: 0;
    right: 60px;
    color: #02152E;
    background: rbga(255, 255, 255, 0.9);
    width: 30px;
    height: 60px;
    line-height: 30px;
    text-align: center; }
    #header .lang p {
      width: 100%;
      display: block;
      cursor: pointer; }
      #header .lang p:hover {
        background: #bc9e48;
        color: #FFFFFF; }
  #header #icon-search {
    display: none; }
  #header #icon-basket {
    height: 60px; }
  #header .search-form-container {
    display: none; }

.break {
  font-size: 2em;
  color: red;
  position: fixed;
  bottom: 0; }

.b1, .b2, .b3, .b4, .b5 {
  display: none; }

@media (min-width: 576px) {
  .b1 {
    display: block; }

  .b0, .b2, .b3, .b4, .b5 {
    display: none; } }
@media (min-width: 768px) {
  #header {
    box-shadow: none; }
    #header aside {
      flex-grow: 1;
      -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
      #header aside #button-menu {
        height: 60px; }
    #header .header-bloc-left {
      height: 140px;
      background: #02152E; }
      #header .header-bloc-left .header-booking {
        display: block; }
        #header .header-bloc-left .header-booking span {
          display: block;
          width: 100%;
          padding-bottom: 40px; }
      #header .header-bloc-left #booking-icon {
        position: relative;
        top: 28px;
        cursor: pointer; }
      #header .header-bloc-left #booking-text {
        display: none;
        cursor: pointer; }
    #header .booking-form-container {
      position: absolute;
      top: 60px;
      left: 60px;
      width: calc(100% - 120px);
      height: 80px;
      background: #bc9e48;
      color: #FFFFFF;
      display: none;
      z-index: 2;
      -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
      #header .booking-form-container .booking-form {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-around;
        padding-top: 15px; }
      #header .booking-form-container .booking-form-item label {
        display: block;
        text-align: left; }
      #header .booking-form-container .booking-form-item input, #header .booking-form-container .booking-form-item select {
        display: block;
        background: inherit;
        border: 1px solid white;
        color: #02152E; }
      #header .booking-form-container .booking-form-item #arrival, #header .booking-form-container .booking-form-item #departure {
        position: relative;
        z-index: 10;
        background: #bc9e48; }
      #header .booking-form-container #submit-button {
        cursor: pointer;
        padding: 0;
        border: 1px solid;
        background: #FFFFFF;
        color: #bc9e48;
        width: 50px;
        font-size: 1.2em;
        font-weight: bold;
        transition: 0.3s; }
    #header #icon-basket {
      height: 70px; }
    #header #icon-search {
      display: block; }
    #header .search-form-container {
      position: absolute;
      top: 60px;
      left: 60px;
      height: 80px;
      line-height: 80px;
      width: calc(100% - 120px);
      background: #bc9e48;
      -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
      #header .search-form-container .search-form label i {
        position: relative;
        top: 2px;
        left: 8px;
        display: none; }
      #header .search-form-container .search-form input {
        font-size: 1.2em;
        background: inherit;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        height: 25px; }
        #header .search-form-container .search-form input:first-child {
          width: 65%;
          padding-left: 5px; }
        #header .search-form-container .search-form input[type="submit"] {
          margin-left: 2px;
          background: #FFFFFF;
          color: #bc9e48;
          font-weight: bold;
          cursor: pointer; }
    #header .header-bloc-right {
      height: 140px; }
    #header .header-bloc-right-item a, #header .header-bloc-right-item span {
      line-height: 70px; }
    #header nav {
      -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
      #header nav .nav-list {
        margin: 0;
        box-shadow: none; }
        #header nav .nav-list .booking-link {
          display: none; }

  .b2 {
    display: block; }

  .b0, .b1, .b3, .b4, .b5 {
    display: none; } }
@media (min-width: 992px) {
  #header {
    height: 70px; }
    #header aside {
      min-width: 120px;
      max-width: 120px; }
      #header aside #button-menu {
        display: none; }
    #header .header-bloc-left {
      margin-top: 0px;
      height: 140px; }
      #header .header-bloc-left #booking-icon {
        display: none; }
      #header .header-bloc-left #booking-text {
        display: inline;
        padding-top: 45px;
        line-height: 25px;
        display: block;
        width: 100%; }
    #header nav {
      width: calc(100% - 240px);
      height: 70px; }
      #header nav .logo {
        width: auto;
        padding-top: 5px; }
      #header nav .nav-list {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex !important;
        flex-direction: row;
        flex-grow: 1;
        width: auto;
        line-height: 70px; }
        #header nav .nav-list .nav-item, #header nav .nav-list .sub-nav-item {
          padding: 0 8px;
          flex-grow: 1; }
        #header nav .nav-list .sub-nav {
          position: absolute;
          top: 70px;
          left: 120px;
          width: calc(100% - 240px);
          height: 70px;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          justify-content: space-between;
          -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
          -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
        #header nav .nav-list .sub-nav-item {
          background: #bc9e48;
          color: #02152E;
          flex-grow: 1;
          transition: 0.3s; }
          #header nav .nav-list .sub-nav-item a {
            display: block;
            width: 100%; }
          #header nav .nav-list .sub-nav-item:not(:first-child) {
            border-left: 1px solid white; }
          #header nav .nav-list .sub-nav-item:hover {
            background: #c9af68; }
    #header .lang {
      position: static;
      height: 70px;
      line-height: 35px; }
    #header .search-form-container, #header .booking-form-container {
      width: calc(100% - 240px);
      left: 120px; }
    #header .search-form-container {
      top: 70px;
      height: 70px;
      line-height: 70px; }
    #header .booking-form-container {
      top: 70px;
      height: 70px; }
    #header .header-bloc-right-item #text-search, #header .header-bloc-right-item #text-basket {
      display: block; }
    #header .header-bloc-right-item #icon-search, #header .header-bloc-right-item #icon-basket {
      display: none; }

  .b3 {
    display: block; }

  .b0, .b1, .b2, .b4, .b5 {
    display: none; } }
@media (min-width: 1200px) {
  #header nav .logo {
    padding-left: 30px; }
  #header .lang {
    width: 50px; }

  .b4 {
    display: block; }

  .b0, .b1, .b2, .b3, .b5 {
    display: none; } }
@media (min-width: 1500px) {
  #header nav .logo {
    padding-left: 50px; }

  .b5 {
    display: block; }

  .b0, .b1, .b2, .b3, .b4 {
    display: none; } }
.container-fluid {
  padding: 0; }

.breakword {
  word-break: break-all; }

#main {
  font-family: 'Geometria-Light', sans-serif;
  margin-top: 60px; }
  #main #down, #main #classique, #main #confort, #main #deluxe, #main #suite, #main #restaurant, #main #bar, #main #detente, #main #d├®couvrete, #main #relaxant, #main #plaisir, #main #evasion, #main #qui-sommes-nous, #main #histoire, #main #acces, #main #recrutement {
    position: relative;
    bottom: 60px; }
  #main #down-mobile {
    position: absolute;
    bottom: 60px; }
  #main .title {
    text-align: center;
    color: #02152E; }
    #main .title p {
      padding: 15px; }
    #main .title h2 {
      text-transform: uppercase;
      padding: 20px 0px;
      font-size: 3em;
      letter-spacing: -0.08em;
      font-weight: bold; }
  #main .text {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #main .serif-gold {
    font-family: 'Roboto Slab', serif;
    font-size: 1.3em;
    font-style: italic;
    color: #bc9e48;
    margin-bottom: 10px; }
  #main .deepblue {
    color: #02152E; }
  #main .gold {
    color: #bc9e48; }
  #main .separator100px {
    height: 5px;
    width: 100px;
    background: #02152E; }
  #main .separator100g {
    height: 5px;
    width: 100px;
    background: #bc9e48; }
  #main .bloc-link {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-style: oblique;
    margin-top: 30px;
    border: 2px solid #bc9e48;
    transition: .3s; }
    #main .bloc-link a {
      padding: 15px;
      display: block;
      width: 100%; }
    #main .bloc-link:hover {
      background: #bc9e48;
      -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
  #main .section-full-page {
    min-height: calc(100vh - 60px);
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center; }
  #main .row {
    padding: 0;
    margin: 0; }
    #main .row .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: .3s;
      z-index: 1; }
  #main .section-title {
    color: white;
    position: relative;
    text-align: center;
    z-index: 5; }
    #main .section-title h2 {
      font-family: 'Geometria-Light', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0px;
      font-size: 3em; }
    #main .section-title .separator {
      height: 5px;
      width: 20%;
      background: #02152E;
      transition: 0.3s; }
    #main .section-title .subtitle {
      text-transform: uppercase;
      margin-top: 15px; }
  #main .section-left-home {
    position: relative;
    background-image: url("../img/room-blue-1.jpg");
    background-size: 370%;
    background-position: center;
    height: calc(100vh - 60px);
    min-height: 450px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s; }
    #main .section-left-home:hover {
      background-size: 400%; }
      #main .section-left-home:hover .section-title .separator {
        width: 100%; }
      #main .section-left-home:hover .overlay {
        background: rgba(255, 255, 255, 0.2); }
  #main .section-right-home {
    height: calc(100vh - 60px);
    min-height: 450px;
    padding: 0;
    margin: 0; }
    #main .section-right-home .section-right-item:first-child {
      height: 50%;
      background-image: url("../img/restaurant-5.jpg");
      background-size: 235%;
      background-position: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s; }
      #main .section-right-home .section-right-item:first-child:hover {
        background-size: 250%; }
        #main .section-right-home .section-right-item:first-child:hover .section-title .separator {
          width: 100%; }
        #main .section-right-home .section-right-item:first-child:hover .overlay {
          background: rgba(255, 255, 255, 0.2); }
    #main .section-right-home .section-right-item:last-child {
      height: 50%;
      background-image: url("../img/spa-6.jpg");
      background-size: 180%;
      background-position: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s; }
      #main .section-right-home .section-right-item:last-child:hover {
        background-size: 200%; }
        #main .section-right-home .section-right-item:last-child:hover .section-title .separator {
          width: 100%; }
        #main .section-right-home .section-right-item:last-child:hover .overlay {
          background: rgba(255, 255, 255, 0.2); }
  #main #arrow-next, #main #arrow-next-mobile, #main .scroll {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 15px);
    color: #bc9e48;
    z-index: 5; }
  #main #arrow-next-mobile {
    display: block; }
  #main #arrow-next {
    display: none; }
  #main #hotel {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #02152E; }
    #main #hotel .bloc-link {
      text-align: center;
      margin-bottom: 30px; }
    #main #hotel .slider {
      margin-bottom: 30px; }
  #main #map {
    background-color: whitesmoke;
    padding: 20px; }
    #main #map #container-map {
      height: 50vh; }
      #main #map #container-map #popup-map {
        font-family: 'Geometria-Light';
        padding: 5px;
        text-transform: uppercase;
        color: #bc9e48; }
        #main #map #container-map #popup-map h1 {
          font-size: 2em;
          color: #02152E;
          font-weight: bold;
          letter-spacing: -0.08em; }
        #main #map #container-map #popup-map .blue {
          color: #02152E;
          margin-top: 5px; }
  #main .section-full-page-room {
    background-image: url("../img/room-grey-1.jpg");
    background-size: 350%;
    background-position: center;
    background-repeat: no-repeat; }
  #main .container-room {
    margin: 40px 0; }
    #main .container-room .info-room {
      text-align: center; }
      #main .container-room .info-room h2 {
        font-size: 2em;
        text-transform: uppercase; }
      #main .container-room .info-room p:first-of-type {
        color: #bc9e48;
        margin: 15px 0; }
      #main .container-room .info-room p:last-of-type {
        text-align: center;
        margin-bottom: 20px; }
  #main .section-full-page-restaurant {
    background-image: url("../img/restaurant-1.jpg");
    background-size: 280%;
    background-position: center;
    background-repeat: no-repeat; }
  #main .section-menu {
    min-height: calc(100vh - 60px);
    background-image: url("../img/restaurant-5.jpg");
    background-position: center;
    background-size: 380%;
    background-repeat: no-repeat; }
  #main #rest .menu-container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 15px;
    border: 2px solid #bc9e48;
    background: rgba(2, 21, 46, 0.9);
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center; }
    #main #rest .menu-container header {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex; }
      #main #rest .menu-container header #menu-midi-title, #main #rest .menu-container header #menu-soir-title {
        width: 50%;
        height: 60px;
        cursor: pointer; }
      #main #rest .menu-container header p {
        line-height: 60px;
        display: block;
        width: 100%;
        background: #bc9e48; }
    #main #rest .menu-container .menu-item-container {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    #main #rest .menu-container .menu-item:last-child {
      display: none; }
    #main #rest .menu-container h2 {
      font-size: 2em;
      padding: 15px 0; }
    #main #rest .menu-container h3 {
      font-size: 1.2em;
      padding: 10px 0; }
    #main #rest .menu-container li {
      font-size: 0.8em; }
    #main #rest .menu-container .prices {
      font-size: 0.6em;
      padding: 10px; }
  #main .container-degustation {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 60px);
    margin-bottom: 30px; }
  #main .container-bar {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
    padding: 30px;
    background: #02152E;
    min-height: calc(100vh - 60px); }
    #main .container-bar .title h2 {
      color: #FFFFFF; }
  #main .info-bar, #main .info-recrut {
    text-align: center; }
    #main .info-bar .bloc-link, #main .info-recrut .bloc-link {
      margin-top: 0;
      margin-bottom: 20px; }
  #main .section-full-page-spa {
    background-image: url("../img/spa-6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300%; }
  #main .container-spa {
    margin: 40px 0; }
    #main .container-spa .info-spa {
      text-align: center; }
      #main .container-spa .info-spa h2 {
        font-size: 2em;
        text-transform: uppercase; }
      #main .container-spa .info-spa p:first-of-type {
        color: #bc9e48;
        margin: 15px 0; }
      #main .container-spa .info-spa p:last-of-type {
        text-align: center;
        margin-bottom: 20px; }
    #main .container-spa img {
      width: 100%; }
  #main .section-full-page-hotel {
    background-image: url("../img/hall-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 370%; }
  #main .container-hotel {
    margin-top: 30px; }
    #main .container-hotel .section-hotel-text {
      margin: 30px 0; }
      #main .container-hotel .section-hotel-text p {
        margin-bottom: 15px; }
    #main .container-hotel img {
      width: 100%;
      margin-bottom: 15px; }
  #main .container-recrut {
    margin-top: 30px;
    margin-bottom: 30px; }
  #main .acces {
    color: #02152E; }
    #main .acces h2 {
      text-transform: uppercase;
      padding: 15px 0px;
      font-size: 3em;
      letter-spacing: -0.08em;
      font-weight: bold; }
    #main .acces .serif-gold {
      margin-bottom: 0;
      padding-top: 10px; }
  #main .metro-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    color: #FFFFFF;
    background: #02152E;
    font-weight: bold;
    text-align: center; }
  #main .container-avis #tab-avis {
    color: #FFFFFF;
    font-size: 0.8em;
    text-transform: uppercase; }
    #main .container-avis #tab-avis .nav-link {
      background: #02152E;
      font-weight: normal;
      transition: .3s;
      height: 60px;
      line-height: 60px;
      padding: 0; }
    #main .container-avis #tab-avis .active {
      background: #bc9e48;
      color: #02152E; }
  #main .container-avis #chambres-tab, #main .container-avis #rest-tab, #main .container-avis #spa-tab, #main .container-avis #all-tab {
    border: none; }
    #main .container-avis #chambres-tab:hover, #main .container-avis #rest-tab:hover, #main .container-avis #spa-tab:hover, #main .container-avis #all-tab:hover {
      opacity: .95;
      border: none; }
  #main .container-avis #tab-avis-content {
    background: #bc9e48;
    padding: 10px;
    margin-bottom: 50px; }
    #main .container-avis #tab-avis-content .container-avis-box {
      text-align: left;
      padding: 10px 15px;
      background: #FFFFFF;
      margin-bottom: 10px;
      margin-top: 20px;
      -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
      #main .container-avis #tab-avis-content .container-avis-box p {
        padding: 0; }
      #main .container-avis #tab-avis-content .container-avis-box .name {
        font-size: 1.2em;
        text-transform: uppercase;
        margin-bottom: 5px; }
      #main .container-avis #tab-avis-content .container-avis-box .rate {
        margin-bottom: 15px; }
      #main .container-avis #tab-avis-content .container-avis-box .com {
        margin-bottom: 10px;
        font-style: italic; }
      #main .container-avis #tab-avis-content .container-avis-box .date {
        text-align: right;
        font-size: 0.8em; }
  #main .container-form {
    margin-bottom: 30px; }
    #main .container-form .row {
      margin: 0; }
    #main .container-form fieldset {
      padding-top: 20px;
      background: whitesmoke; }
      #main .container-form fieldset legend {
        text-transform: uppercase;
        background: #02152E;
        color: #FFFFFF;
        font-size: 1.4em;
        padding: 3px 0px; }
    #main .container-form #container-dispo, #main .container-form #container-options {
      margin-bottom: 20px; }
    #main .container-form .form-group label {
      text-transform: uppercase; }
    #main .container-form #name-input, #main .container-form #subject-input, #main .container-form #textarea-avis, #main .container-form #rate-input, #main .container-form #first-name-input, #main .container-form #civi-input, #main .container-form #country-input, #main .container-form #company-input, #main .container-form #mail-input, #main .container-form #cv-input, #main .container-form #lm-input, #main .container-form #arrival-input, #main .container-form #departure-input, #main .container-form #room-input, #main .container-form #visitor-input, #main .container-form #children-input, #main .container-form #number-input, #main .container-form #street-input, #main .container-form #town-input, #main .container-form #cp-input, #main .container-form #tel-input {
      border: 2px solid #bc9e48;
      background: #FFFFFF;
      color: #02152E; }
      #main .container-form #name-input option, #main .container-form #subject-input option, #main .container-form #textarea-avis option, #main .container-form #rate-input option, #main .container-form #first-name-input option, #main .container-form #civi-input option, #main .container-form #country-input option, #main .container-form #company-input option, #main .container-form #mail-input option, #main .container-form #cv-input option, #main .container-form #lm-input option, #main .container-form #arrival-input option, #main .container-form #departure-input option, #main .container-form #room-input option, #main .container-form #visitor-input option, #main .container-form #children-input option, #main .container-form #number-input option, #main .container-form #street-input option, #main .container-form #town-input option, #main .container-form #cp-input option, #main .container-form #tel-input option {
        color: #02152E; }
      #main .container-form #name-input:hover, #main .container-form #subject-input:hover, #main .container-form #textarea-avis:hover, #main .container-form #rate-input:hover, #main .container-form #first-name-input:hover, #main .container-form #civi-input:hover, #main .container-form #country-input:hover, #main .container-form #company-input:hover, #main .container-form #mail-input:hover, #main .container-form #cv-input:hover, #main .container-form #lm-input:hover, #main .container-form #arrival-input:hover, #main .container-form #departure-input:hover, #main .container-form #room-input:hover, #main .container-form #visitor-input:hover, #main .container-form #children-input:hover, #main .container-form #number-input:hover, #main .container-form #street-input:hover, #main .container-form #town-input:hover, #main .container-form #cp-input:hover, #main .container-form #tel-input:hover {
        -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
      #main .container-form #name-input:focus, #main .container-form #subject-input:focus, #main .container-form #textarea-avis:focus, #main .container-form #rate-input:focus, #main .container-form #first-name-input:focus, #main .container-form #civi-input:focus, #main .container-form #country-input:focus, #main .container-form #company-input:focus, #main .container-form #mail-input:focus, #main .container-form #cv-input:focus, #main .container-form #lm-input:focus, #main .container-form #arrival-input:focus, #main .container-form #departure-input:focus, #main .container-form #room-input:focus, #main .container-form #visitor-input:focus, #main .container-form #children-input:focus, #main .container-form #number-input:focus, #main .container-form #street-input:focus, #main .container-form #town-input:focus, #main .container-form #cp-input:focus, #main .container-form #tel-input:focus {
        outline: 0 none !important;
        box-shadow: none !important; }
    #main .container-form #submit-button-form {
      color: #FFFFFF;
      background: #02152E;
      transition: .3s; }
      #main .container-form #submit-button-form:hover {
        background: #bc9e48;
        -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
    #main .container-form .infos-form {
      font-size: 0.8em;
      color: #6c757d;
      text-align: left; }
    #main .container-form #next-button {
      margin-top: 10px;
      color: #FFFFFF;
      background: #02152E;
      padding: 10px;
      transition: .3s; }
      #main .container-form #next-button:hover {
        background: #bc9e48;
        -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
  #main .container-table {
    width: 100%;
    overflow-x: auto; }
    #main .container-table .table thead th {
      background: #02152E;
      font-weight: normal;
      color: #FFFFFF;
      border-bottom: none;
      border-right: 1px solid; }
    #main .container-table .table tr th {
      font-weight: normal; }
    #main .container-table .table .trash {
      cursor: pointer; }
  #main .checkout {
    margin-bottom: 30px; }
  #main .container-caisse {
    min-height: calc(100vh - 60px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #main .container-sitemap, #main .container-cgv, #main .container-ml {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #main .container-sitemap h3, #main .container-cgv h3, #main .container-ml h3 {
      font-size: 1.4em;
      text-transform: uppercase;
      margin-bottom: 8px;
      transition: .3s; }
    #main .container-sitemap li a, #main .container-sitemap h3 a, #main .container-cgv li a, #main .container-cgv h3 a, #main .container-ml li a, #main .container-ml h3 a {
      transition: .3s; }
      #main .container-sitemap li a:hover, #main .container-sitemap h3 a:hover, #main .container-cgv li a:hover, #main .container-cgv h3 a:hover, #main .container-ml li a:hover, #main .container-ml h3 a:hover {
        letter-spacing: 0.05em;
        color: #bc9e48; }
    #main .container-sitemap p, #main .container-cgv p, #main .container-ml p {
      padding: 0;
      margin-bottom: 15px; }
    #main .container-sitemap .separator100g, #main .container-cgv .separator100g, #main .container-ml .separator100g {
      display: inline-block;
      margin: 20px 0; }
    #main .container-sitemap .box-sitemap, #main .container-sitemap .box-cgv, #main .container-cgv .box-sitemap, #main .container-cgv .box-cgv, #main .container-ml .box-sitemap, #main .container-ml .box-cgv {
      padding: 5px; }
    #main .container-sitemap .box-cgv, #main .container-sitemap .box-ml, #main .container-cgv .box-cgv, #main .container-cgv .box-ml, #main .container-ml .box-cgv, #main .container-ml .box-ml {
      text-align: left; }
      #main .container-sitemap .box-cgv a, #main .container-sitemap .box-ml a, #main .container-cgv .box-cgv a, #main .container-cgv .box-ml a, #main .container-ml .box-cgv a, #main .container-ml .box-ml a {
        border-bottom: 1px solid; }
    #main .container-sitemap .bloc-link, #main .container-cgv .bloc-link, #main .container-ml .bloc-link {
      margin-bottom: 30px; }
  #main .container-presse .box-article {
    padding: 15px;
    margin: 30px auto;
    -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
    #main .container-presse .box-article h3 {
      font-size: 1.6em;
      text-transform: uppercase;
      text-align: center; }
    #main .container-presse .box-article .sub-title {
      padding: 15px 0px;
      text-align: center; }
    #main .container-presse .box-article img {
      width: 100%;
      padding: 15px;
      transition: .3s; }
      #main .container-presse .box-article img:hover {
        filter: opacity(0.8); }
    #main .container-presse .box-article .link {
      display: block;
      margin-top: 10px; }
  #main .container-actualites #tab-actualites {
    font-size: 1.2em;
    font-family: 'Geometria-Bold', sans-serif; }
    #main .container-actualites #tab-actualites .nav-link {
      font-weight: normal;
      height: 60px;
      line-height: 60px;
      padding: 0;
      border: none;
      transition: .3s; }
    #main .container-actualites #tab-actualites .active {
      color: #bc9e48; }
    #main .container-actualites #tab-actualites a {
      border-bottom: none; }
  #main .container-actualites #tab-actualites-content {
    padding: 10px;
    margin-bottom: 50px; }
    #main .container-actualites #tab-actualites-content .container-actualites-box {
      text-align: left;
      padding: 10px 15px;
      background: #FFFFFF;
      margin-bottom: 10px;
      margin-top: 20px;
      -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.6); }
      #main .container-actualites #tab-actualites-content .container-actualites-box p {
        padding: 0; }
      #main .container-actualites #tab-actualites-content .container-actualites-box img {
        width: 100%; }
      #main .container-actualites #tab-actualites-content .container-actualites-box .title {
        text-align: left;
        font-family: 'Geometria-Bold', sans-serif;
        font-size: 1.2em;
        text-transform: uppercase;
        margin-bottom: 10px;
        padding: 5px 10px; }
      #main .container-actualites #tab-actualites-content .container-actualites-box .sub-title {
        color: #bc9e48;
        margin-bottom: 10px;
        font-style: italic; }
      #main .container-actualites #tab-actualites-content .container-actualites-box .next {
        margin-bottom: 5px;
        transition: .3s; }
        #main .container-actualites #tab-actualites-content .container-actualites-box .next:hover {
          opacity: .75; }
      #main .container-actualites #tab-actualites-content .container-actualites-box .date {
        text-align: right;
        font-size: 0.8em;
        padding: 5px; }
      #main .container-actualites #tab-actualites-content .container-actualites-box .bloc-link {
        margin: 10px 0px;
        width: 150px;
        text-align: center; }

@media (min-width: 576px) {
  #main .section-left-home {
    background-size: 280%; }
    #main .section-left-home:hover {
      background-size: 290%; }
  #main .section-right-home .section-right-item:first-child {
    background-size: 180%; }
    #main .section-right-home .section-right-item:first-child:hover {
      background-size: 200%; }
  #main .section-right-home .section-right-item:last-child {
    background-size: 150%; }
    #main .section-right-home .section-right-item:last-child:hover {
      background-size: 170%; }
  #main .section-full-page-room {
    background-size: 270%; }
  #main .section-full-page-restaurant {
    background-size: 220%; }
  #main .section-menu {
    background-size: 280%; }
  #main .section-full-page-spa {
    background-size: 250%; }
  #main .section-full-page-hotel {
    background-size: 250%; } }
@media (min-width: 768px) {
  #main #arrow-next-mobile {
    display: none; }
  #main #arrow-next {
    display: block; }
  #main .section-left-home {
    background-size: 380%; }
    #main .section-left-home:hover {
      background-size: 400%; }
  #main .section-right-home .section-right-item:first-child {
    background-size: 240%; }
    #main .section-right-home .section-right-item:first-child:hover {
      background-size: 260%; }
  #main .section-right-home .section-right-item:last-child {
    background-size: 240%; }
    #main .section-right-home .section-right-item:last-child:hover {
      background-size: 260%; }
  #main .section-full-page-room {
    background-size: 200%; }
  #main .section-full-page-restaurant {
    background-size: 180%; }
  #main .section-menu {
    background-size: 250%; }
  #main .section-full-page-spa {
    background-size: 200%; }
  #main .section-full-page-hotel {
    background-size: 200%; } }
@media (min-width: 992px) {
  #main .section-left-home {
    background-size: 300%; }
    #main .section-left-home:hover {
      background-size: 320%; }
  #main #down, #main #classique, #main #confort, #main #deluxe, #main #suite, #main #restaurant, #main #bar, #main #detente, #main #d├®couvrete, #main #relaxant, #main #plaisir, #main #evasion, #main #qui-sommes-nous, #main #histoire, #main #acces, #main #recrutement {
    position: relative;
    bottom: 70px; }
  #main .section-right-home .section-right-item:first-child {
    background-size: 200%; }
    #main .section-right-home .section-right-item:first-child:hover {
      background-size: 220%; }
  #main .section-right-home .section-right-item:last-child {
    background-size: 150%; }
    #main .section-right-home .section-right-item:last-child:hover {
      background-size: 170%; }
  #main .section-right-home .section-full-page {
    min-height: calc(100vh - 70px;); }
  #main .container-room:nth-child(even) .info-room {
    order: 2; }
  #main .section-full-page-room {
    background-size: 150%; }
  #main .section-full-page-restaurant {
    background-size: 140%; }
  #main .section-menu {
    background-size: 200%; }
  #main .section-full-page-spa {
    background-size: 150%; }
  #main .container-spa:nth-child(even) .info-spa {
    order: 2; }
  #main .section-full-page-hotel {
    background-size: 150%; } }
@media (min-width: 1200px) {
  #main .section-left-home {
    background-size: 240%; }
    #main .section-left-home:hover {
      background-size: 260%; }
  #main .section-right-home .section-right-item:first-child {
    background-size: 160%; }
    #main .section-right-home .section-right-item:first-child:hover {
      background-size: 170%; }
  #main .section-right-home .section-right-item:last-child {
    background-size: 130%; }
    #main .section-right-home .section-right-item:last-child:hover {
      background-size: 150%; }
  #main .section-full-page-room {
    background-size: 100%; }
  #main .section-full-page-restaurant {
    background-size: 120%; }
  #main .section-menu {
    background-size: 150%; }
  #main .section-full-page-spa {
    background-size: 120%; }
  #main .section-full-page-hotel {
    background-size: 100%; } }
@media (min-width: 1500px) {
  #main .section-left-home {
    background-size: 200%; }
    #main .section-left-home:hover {
      background-size: 220%; }
  #main .section-right-home .section-right-item:first-child {
    background-size: 150%; }
    #main .section-right-home .section-right-item:first-child:hover {
      background-size: 170%; }
  #main .section-right-home .section-right-item:last-child {
    background-size: 150%; }
    #main .section-right-home .section-right-item:last-child:hover {
      background-size: 170%; }
  #main .section-menu {
    background-size: 100%; }
  #main .section-full-page-spa {
    background-size: 100%; } }
#footer {
  font-family: 'Geometria-Light', sans-serif;
  text-transform: uppercase; }
  #footer .bold {
    font-family: "Geometria-Bold"; }
  #footer .gold {
    color: #bc9e48; }
  #footer .row {
    padding: 0;
    margin: 0; }
  #footer .social {
    color: #FFFFFF; }
    #footer .social .container-icon {
      height: 100px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 0.8em; }
      #footer .social .container-icon i {
        color: #bc9e48;
        padding-bottom: 10px; }
      #footer .social .container-icon p:first-of-type {
        padding-bottom: 5px; }
      #footer .social .container-icon p:last-of-type {
        color: #bc9e48; }
      #footer .social .container-icon input[type="text"] {
        background: inherit;
        color: #bc9e48;
        border: 2px solid;
        padding: 5px;
        width: calc(100% - 50px); }
      #footer .social .container-icon input[type="submit"] {
        background: #bc9e48;
        color: #FFFFFF;
        padding: 5px;
        border: 2px solid #bc9e48;
        cursor: pointer; }
    #footer .social .container-icon {
      transition: .3s; }
      #footer .social .container-icon:hover {
        opacity: .95; }
    #footer .social .container-icon:nth-child(odd) {
      background: #0D2D56; }
    #footer .social .container-icon:nth-child(even) {
      background: #02152E; }
  #footer .section {
    font-size: 0.8em;
    padding: 30px 10px;
    line-height: 20px; }
  #footer .section-left {
    text-align: left; }
  #footer .section-center {
    text-align: center;
    background: whitesmoke; }
  #footer .section-right {
    text-align: center; }
  #footer .logo {
    padding: 0; }
    #footer .logo img {
      width: 60px; }
  #footer .infos {
    text-transform: none;
    font-size: 0.7em;
    padding: 5px;
    background: whitesmoke;
    text-align: center; }

@media (min-width: 768px) {
  #footer .social .container-icon {
    height: 170px; }
  #footer .section-center, #footer .section-right {
    text-align: left; } }
noscript {
  position: fixed;
  top: 0;
  width: 100vw;
  font-family: 'Geometria-light';
  font-size: 0.8em;
  background: rgba(255, 0, 0, 0.5);
  color: #FFFFFF;
  text-align: center;
  padding: 3px;
  z-index: 100; }

/*# sourceMappingURL=master.css.map */
