// MOBILE FIRST
.container-fluid{
  padding: 0;
}
#bloc-header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
#header{
  font-family: 'Geometria-Light', sans-serif;
  font-size: 0.8em;
  color: $deepblue;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: relative;
  @include box-shadow($shadow);

  aside{
    max-width: 60px;
    min-width: 60px;
    text-align: center;
    color: $white;

    #button-menu{
      padding: 10px 10px;
      width: 60px;
      height: 60px;
      cursor: pointer;
      text-align: center;
      background: $gold;
      color: $deepblue;
    }
    .header-booking{display: none;}
  }

  .header-bloc-right{
    height: 60px;
    background: $deepblue;
  }
  .header-bloc-right-item{
    a, span{
      display: block;
      width: 100%;
      height: 70px;
      line-height: 60px;
      cursor: pointer;
    }
    #text-search, #text-basket{display: none;}
  }

  nav{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: calc(100% - 120px);
    background: rgba(255, 255, 255, 0.9);
    height: 60px;
    background: $white;

    .logo{
      text-align: center;
      font-size: 3em;
      letter-spacing: -0.08em;
      font-weight: bold;
      width: 100%;
      margin: 7px 10px;
    }
    .nav-list{
      text-align: center;
      line-height: 35px;
      width: 100%;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      display: none;
      @include box-shadow($shadow);

      .sub-nav{
        display: none;
      }
      .nav-item{
        background: $white;

        &:hover{
           background: $gold;
           color: $white;
        }
      }
      .sub-nav-item{
        color: $deepblue;
        background: $gold;
      }
      .booking-link{
        background: $deepblue;
        color: $white;
        cursor: pointer;
      }
    }
  }

  .lang{
    position: absolute;
    top: 0; right: 60px;
    color: $deepblue;
    background: rbga(255, 255, 255, 0.9);
    width: 30px;
    height: 60px;
    line-height: 30px;
    text-align: center;

    p{
      width: 100%;
      display: block;
      cursor: pointer;

      &:hover{
        background: $gold;
        color: $white;
      }
    }
  }
  #icon-search{
    display: none;
  }
  #icon-basket{height: 60px;}

  .search-form-container{
    display: none;
  }
}

.break{
  font-size: 2em;
  color: red;
  position: fixed;
  bottom: 0;
}
.b1,.b2,.b3,.b4,.b5{display: none;}

// MOBILE LANDSCAPE
@media (min-width: 576px){

  // ----------------------------------
  .b1{display: block;}
  .b0,.b2,.b3,.b4,.b5{display: none;}
}

// TABLET IPAD
@media (min-width: 768px){

  #header{
    box-shadow: none;

    aside{
      flex-grow: 1;
      @include box-shadow($shadow);

      #button-menu{
        height: 60px;
      }
    }

    .header-bloc-left{
      height: 140px;
      background: $deepblue;

      .header-booking{
        display: block;

        span{
          display: block;
          width: 100%;
          padding-bottom: 40px;
        }
      }

      #booking-icon{
        position: relative;
        top: 28px;
        cursor: pointer;
      }
      #booking-text{
        display: none;
        cursor: pointer;
      }
    }

    .booking-form-container{
      position: absolute;
      top: 60px;
      left: 60px;
      width: calc(100% - 120px);
      height: 80px;
      background: $gold;
      color: $white;
      display: none;
      z-index: 2;
      @include box-shadow($shadow);

      .booking-form{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-around;
        padding-top: 15px;
      }
      .booking-form-item{
        label{
          display: block;
          text-align: left;
        }
        input, select{
          display: block;
          background: inherit;
          border: 1px solid white;
          color: $deepblue;
        }
        #arrival, #departure{
          position: relative;
          z-index: 10;
          background: $gold;
        }
      }
      #submit-button{
        cursor: pointer;
        padding: 0;
        border: 1px solid;
        background: $white;
        color: $gold;
        width: 50px;
        font-size: 1.2em;
        font-weight: bold;
        transition: 0.3s;
      }
    }

    #icon-basket{height: 70px;}
    #icon-search{display: block;}

    .search-form-container{
      position: absolute;
      top: 60px;
      left: 60px;
      height: 80px;
      line-height: 80px;
      width: calc(100% - 120px);
      background: $gold;
      @include box-shadow($shadow);

      .search-form{
        label i{
          position: relative;
          top: 2px;
          left: 8px;
          display: none;
        }
        input{
          font-size: 1.2em;
          background: inherit;
          color: $white;
          border: 1px solid $white;
          height: 25px;

          &:first-child{
            width: 65%;
            padding-left: 5px;
          }
          &[type="submit"]{
            margin-left: 2px;
            background: $white;
            color: $gold;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
    .header-bloc-right{
      height: 140px;
    }
    .header-bloc-right-item{
      a, span{
        line-height: 70px;
      }
    }

    nav{
      @include box-shadow($shadow);

      .nav-list{
        margin: 0;
        box-shadow: none;

        .booking-link{
          display: none;
        }
      }
    }
  }
// ----------------------------------
.b2{display: block;}
.b0,.b1,.b3,.b4,.b5{display: none;}
}

// LAPTOP
@media (min-width: 992px){
  #header{
    height: 70px;

    aside{
      min-width: 120px;
      max-width: 120px;

      #button-menu{
        display: none;
      }
    }
    .header-bloc-left{
      margin-top: 0px;
      height: 140px;

      #booking-icon{
        display: none;
      }
      #booking-text{
        display: inline;
        padding-top: 45px;
        line-height: 25px;
        display: block;
        width: 100%;
      }
    }

    nav{
      width: calc(100% - 240px);
      height: 70px;

      .logo{
        width: auto;
        padding-top: 5px;
      }
      .nav-list{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex !important;
        flex-direction: row;
        flex-grow: 1;
        width: auto;
        line-height: 70px;

        .nav-item, .sub-nav-item{
          padding: 0 8px;
          flex-grow: 1;
        }
        .sub-nav{
          position: absolute;
          top: 70px;
          left: 120px;
          width: calc(100% - 240px);
          height: 70px;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          justify-content: space-between;
          @include box-shadow($shadow);
        }
        .sub-nav-item{
          background: $gold;
          color: $deepblue;
          flex-grow: 1;
          transition: 0.3s;

          a{
            display: block;
            width: 100%;
          }
          &:not(:first-child){border-left: 1px solid white;}
          &:hover{background: $lightgold;}
        }
      }
    }

    .lang{
      position: static;
      height: 70px;
      line-height: 35px;
    }
    .search-form-container, .booking-form-container{
      width: calc(100% - 240px);
      left: 120px;
    }
    .search-form-container{
      top: 70px;
      height: 70px;
      line-height: 70px;
    }
    .booking-form-container{
      top: 70px;
      height: 70px;
    }
    .header-bloc-right-item{
      #text-search, #text-basket{
        display: block;
      }
      #icon-search, #icon-basket{
        display: none;
      }
    }
  }
// ----------------------------------
  .b3{display: block;}
  .b0,.b1,.b2,.b4,.b5{display: none;}
}

// LARGE SCREEN
@media (min-width: 1200px){

  #header{
    nav{
      .logo{
        padding-left: 30px;
      }
    }
    .lang{
      width: 50px;
    }
  }
// ----------------------------------
  .b4{display: block;}
  .b0,.b1,.b2,.b3,.b5{display: none;}
}

// X- LARGE SCREEN
@media (min-width: 1500px){
  #header{
    nav{
      .logo{
        padding-left: 50px;
      }
    }
  }
// ----------------------------------
  .b5{display: block;}
  .b0,.b1,.b2,.b3,.b4{display: none;}
}
