$deepblue: #02152E;
$gold: #B69753;

#main{
  font-family: 'Geometria-Light', sans-serif;
  margin-top: 70px;

  .row{
    padding: 0;
    margin: 0;
    color: white;
  }
  .section-title{
    text-align: center;

    h2{
      font-family: 'Geometria-Bold', sans-serif;
      text-transform: uppercase;
      padding: 10px 0px;
      font-size: 3em;
    }

    .separator{
      height: 5px;
      width: 20%;
      background: $deepblue;
      transition: 0.3s;
    }

    .sub-title{
      display: inline-block;
      font-family: 'Roboto Slab', serif;
      font-style: oblique;
      margin-top: 30px;
      padding: 15px;
      border: 2px solid $gold;
      transition: .3s;
    }
    .sub-title:hover{
      background: $gold;
    }
  }

  .section-left{
    background-image: url('../img/room-brigitte-1.jpg');
    background-size: 370%;
    background-position: center;
    height: calc(100vh - 70px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }

  .section-left:hover{
    background-size: 400%;
  }
  .section-left:hover .section-title .separator{
    width: 100%;
  }

  .section-right{
    height: calc(100vh - 70px);
    padding: 0; margin: 0;

    .section-left-item:first-child{
      height: 50%;
      background-image: url('../img/restaurant-2.jpg');
      background-size: 235%;
      background-position: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
    }
    .section-left-item:first-child:hover{
      background-size: 250%;
    }
    .section-left-item:first-child:hover .section-title .separator{
      width: 100%;
    }
    .section-left-item:last-child{
      height: 50%;
      background-image: url('../img/spa-3.jpg');
      background-size: 180%;
      background-position: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
    }
    .section-left-item:last-child:hover{
      background-size: 200%;
    }
    .section-left-item:last-child:hover .section-title .separator{
      width: 100%;
    }
  }
}
