.container-fluid{padding: 0;}
.breakword{word-break: break-all;}

#main{
  font-family: 'Geometria-Light', sans-serif;
  margin-top: 60px;

  #down, #classique, #confort, #deluxe, #suite, #restaurant, #bar, #detente, #découvrete, #relaxant, #plaisir, #evasion, #qui-sommes-nous, #histoire, #acces, #recrutement{
    position: relative;
    bottom: 60px;
  }
  #down-mobile{
    position: absolute;
    bottom: 60px;
  }

// ------------------------------------------- GENERAL
  .title{
    text-align: center;
    color: $deepblue;

    p{
      padding: 15px;
    }
    h2{
      text-transform: uppercase;
      padding: 20px 0px;
      font-size: 3em;
      letter-spacing: -0.08em;
      font-weight: bold;
    }
  }
  .text{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .serif-gold{
    font-family: 'Roboto Slab', serif;
    font-size: 1.3em;
    font-style: italic;
    color: $gold;
    margin-bottom: 10px;
  }
  .deepblue{color: $deepblue;}
  .gold{color: $gold;}
  .separator100px{
    height: 5px;
    width: 100px;
    background: $deepblue;
  }
  .separator100g{
    height: 5px;
    width: 100px;
    background: $gold;
  }
  .bloc-link{
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-style: oblique;
    margin-top: 30px;
    border: 2px solid $gold;
    transition: .3s;

    a{
      padding: 15px;
      display: block;
      width: 100%;
    }
    &:hover{
      background: $gold;
      @include box-shadow($shadow);
    }
  }
  .section-full-page{
    min-height: calc(100vh - 60px);
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
// ------------------------------------------- HOME
  .row{
    padding: 0;
    margin: 0;

    .overlay{
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      transition: .3s;
      z-index: 1;
    }
  }

  .section-title{
    color: white;
    position: relative;
    text-align: center;
    z-index: 5;

    h2{
      font-family: 'Geometria-Light', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0px;
      font-size: 3em;
    }
    .separator{
      height: 5px;
      width: 20%;
      background: $deepblue;
      transition: 0.3s;
    }
    .subtitle{
      text-transform: uppercase;
      margin-top: 15px;
    }
  }

  .section-left-home{
    position: relative;
    background-image: url('../img/room-blue-1.jpg');
    background-size: 370%;
    background-position: center;
    height: calc(100vh - 60px);
    min-height: 450px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &:hover{
      background-size: 400%;
      .section-title .separator{width: 100%;}
      .overlay{background: $overlay;}
    }
  }

  .section-right-home{
    height: calc(100vh - 60px);
    min-height: 450px;
    padding: 0; margin: 0;

    .section-right-item:first-child{
      height: 50%;
      background-image: url('../img/restaurant-5.jpg');
      background-size: 235%;
      background-position: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;

      &:hover{
        background-size: 250%;
        .section-title .separator{width: 100%;}
        .overlay{background: $overlay;}
      }
    }
    .section-right-item:last-child{
      height: 50%;
      background-image: url('../img/spa-6.jpg');
      background-size: 180%;
      background-position: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;

      &:hover{
        background-size: 200%;
        .section-title .separator{width: 100%;}
        .overlay{background: $overlay;}
      }
    }
  }

  #arrow-next, #arrow-next-mobile, .scroll{
    position: absolute;
    bottom: 5px;
    left: calc(50% - 15px);
    color: $gold;
    z-index: 5;
  }
  #arrow-next-mobile{display: block;}
  #arrow-next{display: none;}

// ------------------------------------------- HOTEL

  #hotel{
    margin-top: 30px;
    margin-bottom: 30px;
    color: $deepblue;

    .bloc-link{
      text-align: center;
      margin-bottom: 30px;
    }
    .slider{
      margin-bottom: 30px;
    }
  }

// ------------------------------------------- MAP

  #map{
    background-color: whitesmoke;
    padding: 20px;

    #container-map{
      height: 50vh;

      #popup-map{
        font-family: 'Geometria-Light';
        padding: 5px;
        text-transform: uppercase;
        color: $gold;

        h1{
          font-size: 2em;
          color: $deepblue;
          font-weight: bold;
          letter-spacing: -0.08em;
        }
        .blue{
          color: $deepblue;
          margin-top: 5px;
        }
      }
    }
  }
// ------------------------------------------- CHAMBRES
  .section-full-page-room{
    background-image: url('../img/room-grey-1.jpg');
    background-size: 350%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .container-room{
    margin: 40px 0;

    .info-room{
      text-align: center;
      h2{
        font-size: 2em;
        text-transform: uppercase;
      }
      p:first-of-type{
        color: $gold;
        margin: 15px 0;
      }
      p:last-of-type{
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
// ------------------------------------------- RESTAURANT
  .section-full-page-restaurant{
    background-image: url('../img/restaurant-1.jpg');
    background-size: 280%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .section-menu{
    min-height: calc(100vh - 60px);
    background-image: url('../img/restaurant-5.jpg');
    background-position: center;
    background-size: 380%;
    background-repeat: no-repeat;
  }
  #rest{

    .menu-container{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 30px 15px;
      border: 2px solid $gold;
      background: $overlayb;
      color: $white;
      text-transform: uppercase;
      text-align: center;

      header{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        #menu-midi-title, #menu-soir-title{
          width: 50%;
          height: 60px;
          cursor: pointer;
        }
        p{
          line-height: 60px;
          display: block;
          width: 100%;
          background: $gold;
        }

      }
      .menu-item-container{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .menu-item:last-child{display: none;}
      h2{
        font-size: 2em;
        padding: 15px 0;
      }
      h3{
        font-size: 1.2em;
        padding: 10px 0;
      }
      li{
        font-size: 0.8em;
      }
      .prices{
        font-size: 0.6em;
        padding: 10px;
      }
    }
  }
  .container-degustation{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 60px);
    margin-bottom: 30px;
  }
  .container-bar{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
    padding: 30px;
    background: $deepblue;
    min-height: calc(100vh - 60px);

    .title{
      h2{color: $white;}
    }
  }
  .info-bar, .info-recrut{
    text-align: center;

    .bloc-link{
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
// ------------------------------------------- SPA
  .section-full-page-spa{
    background-image: url('../img/spa-6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300%;
  }
  .container-spa{
    margin: 40px 0;

    .info-spa{
      text-align: center;
      h2{
        font-size: 2em;
        text-transform: uppercase;
      }
      p:first-of-type{
        color: $gold;
        margin: 15px 0;
      }
      p:last-of-type{
        text-align: center;
        margin-bottom: 20px;
      }
    }
    img{width: 100%;}
  }
// ------------------------------------------- HOTEL
  .section-full-page-hotel{
    background-image: url('../img/hall-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 370%;
  }
  .container-hotel{
    margin-top: 30px;

    .section-hotel-text{
      margin: 30px 0;

      p{
        margin-bottom: 15px;
      }
    }

    img{
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .container-recrut{
    margin-top: 30px; margin-bottom: 30px;
  }
  .acces{
    color: $deepblue;

    h2{
      text-transform: uppercase;
      padding: 15px 0px;
      font-size: 3em;
      letter-spacing: -0.08em;
      font-weight: bold;
    }
    .serif-gold{
      margin-bottom: 0;
      padding-top: 10px;
    }
  }
  .metro-circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    color: $white;
    background: $deepblue;
    font-weight: bold;
    text-align: center;
  }
// ------------------------------------------- AVIS
  .container-avis{

    #tab-avis{
      color: $white;
      font-size: 0.8em;
      text-transform: uppercase;

      .nav-link{
        background: $deepblue;
        font-weight: normal;
        transition: .3s;
        height: 60px;
        line-height: 60px;
        padding: 0;
      }
      .active{
        background: $gold;
        color: $deepblue;
      }
    }
    #chambres-tab, #rest-tab, #spa-tab, #all-tab{
      border: none;

      &:hover{
        opacity: .95;
        border: none;
      }
    }

    #tab-avis-content{
      background: $gold;
      padding: 10px;
      margin-bottom: 50px;

      .container-avis-box{
        text-align: left;
        padding: 10px 15px;
        background: $white;
        margin-bottom: 10px;
        margin-top: 20px;
        @include box-shadow($shadow);

        p{padding: 0;}
        .name{
          font-size: 1.2em;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        .rate{margin-bottom: 15px;}
        .com{
          margin-bottom: 10px;
          font-style: italic;
        }
        .date{
          text-align: right;
          font-size: 0.8em;
        }
      }
    }

  }
// ------------------------------------------- FORMS
  .container-form{
    margin-bottom: 30px;

    .row{margin: 0;}
    fieldset{
      padding-top: 20px;
      background: whitesmoke;

      legend{
        text-transform: uppercase;
        background: $deepblue;
        color: $white;
        font-size: 1.4em;
        padding: 3px 0px;
      }
    }
    #container-dispo, #container-options{
      margin-bottom: 20px;
    }

    .form-group{
      label{
        text-transform: uppercase;
      }
    }

    #name-input, #subject-input, #textarea-avis, #rate-input, #first-name-input, #civi-input, #country-input, #company-input, #mail-input, #cv-input, #lm-input, #arrival-input, #departure-input, #room-input, #visitor-input, #children-input, #number-input, #street-input, #town-input, #cp-input, #tel-input{
      border: 2px solid $gold;
      background: $white;
      color: $deepblue;

      option{
        color: $deepblue;
      }

      &:hover{
        @include box-shadow($shadow);
      }
      &:focus{
        outline: 0 none !important;
        box-shadow: none !important;
      }
    }

    #submit-button-form{
      color: $white;
      background: $deepblue;
      transition: .3s;

      &:hover{
        background: $gold;
        @include box-shadow($shadow);
      }
    }
    .infos-form{
      font-size: 0.7em;
      color: $grey;
      text-align: left;
    }
    #next-button{
      margin-top: 10px;
      color: $white;
      background: $deepblue;
      padding: 10px;
      transition: .3s;

      &:hover{
        background: $gold;
        @include box-shadow($shadow);
      }
    }
  }
// ------------------------------------------- PANIER

  .container-table{
    width: 100%;
    overflow-x: auto;

    .table{

      thead th{
        background: $deepblue;
        font-weight: normal;
        color: $white;
        border-bottom: none;
        border-right: 1px solid;
      }
      tr th{font-weight: normal;}

      .trash{
        cursor: pointer;
      }

    }
  }

  .checkout{
    margin-bottom: 30px;
  }
// ------------------------------------------- CAISSE
  .container-caisse{
    min-height: calc(100vh - 60px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
// ------------------------------------------- SITEMAP CGV ML
  .container-sitemap, .container-cgv, .container-ml{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3{
      font-size: 1.4em;
      text-transform: uppercase;
      margin-bottom: 8px;
      transition: .3s;
    }
    li a, h3 a{
      transition: .3s;
      &:hover{
        letter-spacing: 0.05em;
        color: $gold;
      }
    }

    p{
      padding: 0;
      margin-bottom: 15px;
    }
    .separator100g{
      display: inline-block;
      margin: 20px 0;
    }
    .box-sitemap, .box-cgv{
      padding: 5px;
    }

    .box-cgv, .box-ml{
      text-align: left;

      a{
        border-bottom: 1px solid;
      }
    }

    .bloc-link{
      margin-bottom: 30px;
    }
  }

// ------------------------------------------- PRESSE
  .container-presse{

    .box-article{
      padding: 15px;
      margin: 30px auto;
      @include box-shadow($shadow);

      h3{
        font-size: 1.6em;
        text-transform: uppercase;
        text-align: center;
      }
      .sub-title{
        padding: 15px 0px;
        text-align: center;
      }
      img{
        width: 100%;
        padding: 15px;
        transition: .3s;

        &:hover{
          filter: opacity(.8);
        }
      }
      .link{
        display: block;
        margin-top: 10px;
      }
    }
  }
// ------------------------------------------- ACTUS
  .container-actualites{

    #tab-actualites{
      font-size: 1.2em;
      font-family: 'Geometria-Bold', sans-serif;

      .nav-link{
        font-weight: normal;
        height: 60px;
        line-height: 60px;
        padding: 0;
        border: none;
        transition: .3s;
      }
      .active{
        color: $gold;
      }
      a{
        border-bottom: none;
      }
    }

    #tab-actualites-content{
      padding: 10px;
      margin-bottom: 50px;

      .container-actualites-box{
        text-align: left;
        padding: 10px 15px;
        background: $white;
        margin-bottom: 10px;
        margin-top: 20px;
        @include box-shadow($shadow);

        p{padding: 0;}
        img{width: 100%;}
        .title{
          text-align: left;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 1.2em;
          text-transform: uppercase;
          margin-bottom: 10px;
          padding: 5px 10px;
        }
        .sub-title{
          color: $gold;
          margin-bottom: 10px;
          font-style: italic;
        }
        .next{
          margin-bottom: 5px;
          transition: .3s;

          &:hover{
            opacity: .75;
          }
        }
        .date{
          text-align: right;
          font-size: 0.8em;
          padding: 5px;
        }
        .bloc-link{
          margin: 10px 0px;
          width: 150px;
          text-align: center;
        }
      }
    }
  }
}


// MOBILE LANDSCAPE
@media (min-width: 576px){
  #main{
// HOME
    .section-left-home{
      background-size: 280%;
      &:hover{
        background-size: 290%;
      }
    }
    .section-right-home{
      .section-right-item:first-child{
        background-size: 180%;
        &:hover{
          background-size: 200%;
        }
      }
      .section-right-item:last-child{
        background-size:150%;
        &:hover{
          background-size:170%;
        }
      }
    }
// CHAMBRES
    .section-full-page-room{
      background-size: 270%;
    }
//RESTAURANT
    .section-full-page-restaurant{
      background-size: 220%;
    }
    .section-menu{
      background-size: 280%;
    }
//SPA
    .section-full-page-spa{
      background-size: 250%;
    }
//HOTEL
    .section-full-page-hotel{
      background-size: 250%;
    }
  }
}
// TABLET IPAD
@media (min-width: 768px){
  #main{
    #arrow-next-mobile{display: none;}
    #arrow-next{display: block;}

    .section-left-home{
      background-size: 380%;
      &:hover{
        background-size: 400%;
      }
    }
    .section-right-home{
      .section-right-item:first-child{
        background-size: 240%;
        &:hover{
          background-size: 260%;
        }
      }
      .section-right-item:last-child{
        background-size: 240%;
        &:hover{
          background-size: 260%;
        }
      }
    }
// CHAMBRES
    .section-full-page-room{
      background-size: 200%;
    }
//RESTAURANT
    .section-full-page-restaurant{
      background-size: 180%;
    }
    .section-menu{
      background-size: 250%;
    }
//SPA
    .section-full-page-spa{
      background-size: 200%;
    }
//HOTEL
    .section-full-page-hotel{
      background-size: 200%;
    }
  }
}
// LAPTOP
@media (min-width: 992px){
  #main{
    .section-left-home{
      background-size: 300%;
      &:hover{
        background-size:320%;
      }
    }
    .section-right-home{
      .section-right-item:first-child{
        background-size: 200%;
        &:hover{
          background-size: 220%;
        }
      }
      .section-right-item:last-child{
        background-size: 150%;
        &:hover{
          background-size: 170%;
        }
      }
      .section-full-page{
        min-height: calc(100vh - 70px;)
      }

    }
    // inverse la disposition du carousel et de la description
    .container-room:nth-child(even),{
      .info-room{order: 2;}
    }
// CHAMBRES
    .section-full-page-room{
      background-size: 150%;
    }
//RESTAURANT
    .section-full-page-restaurant{
      background-size: 140%;
    }
    .section-menu{
      background-size: 200%;
    }
//SPA
    .section-full-page-spa{
      background-size: 150%;
    }
    .container-spa:nth-child(even),{
      .info-spa{order: 2;}
    }
//HOTEL
    .section-full-page-hotel{
      background-size: 150%;
    }
  }
}
// LARGE SCREEN
@media (min-width: 1200px){
  #main{
    .section-left-home{
      background-size: 240%;
      &:hover{
        background-size: 260%;
      }
    }
    .section-right-home{
      .section-right-item:first-child{
        background-size: 160%;
        &:hover{
          background-size: 170%;
        }
      }
      .section-right-item:last-child{
        background-size: 130%;
        &:hover{
          background-size: 150%;
        }
      }
    }
// CHAMBRES
    .section-full-page-room{
      background-size: 100%;
    }
//RESTAURANT
    .section-full-page-restaurant{
      background-size: 120%;
    }
    .section-menu{
      background-size: 150%;
    }
//SPA
    .section-full-page-spa{
      background-size: 120%;
    }
//HOTEL
    .section-full-page-hotel{
      background-size: 100%;
    }
  }
}
// X- LARGE SCREEN
@media (min-width: 1500px){
  #main{
    .section-left-home{
      background-size: 200%;
      &:hover{
        background-size: 220%;
      }
    }
    .section-right-home{
      .section-right-item:first-child{
        background-size: 150%;
        &:hover{
          background-size: 170%;
        }
      }
      .section-right-item:last-child{
        background-size: 150%;
        &:hover{
          background-size: 170%;
        }
      }
    }
//RESTAURANT
    .section-menu{
      background-size: 100%;
    }
//SPA
    .section-full-page-spa{
      background-size: 100%;
    }
  }
}
