#main{
  font-family: 'Geometria-Light', sans-serif;
  margin-top: 70px;

// ------------------------------------------- HOME
  .row{
    padding: 0;
    margin: 0;

    .overlay{
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      transition: .3s;
      z-index: 1;
    }
  }

  .section-title{
    color: white;
    position: relative;
    text-align: center;
    z-index: 5;

    h2{
      font-family: 'Geometria-Bold', sans-serif;
      text-transform: uppercase;
      padding: 10px 0px;
      font-size: 3em;
    }
    .separator{
      height: 5px;
      width: 20%;
      background: $deepblue;
      transition: 0.3s;
    }

    .subtitle{
      text-transform: uppercase;
      margin-top: 15px;
    }
    .bloc-icons{
      margin-top: 15px;

      i{
        padding: 0 5px;
      }
    }

  }

  .bloc-link{
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-style: oblique;
    margin-top: 30px;
    border: 2px solid $gold;
    transition: .3s;

    a{
      padding: 15px;
      display: block;
      width: 100%;
    }
  }
  .bloc-link:hover{
    background: $gold;
  }

  .section-left-home{
    position: relative;
    background-image: url('../img/room-brigitte-1.jpg');
    background-size: 370%;
    background-position: center;
    height: calc(100vh - 70px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }

  .section-left-home:hover{background-size: 400%;}
  .section-left-home:hover .section-title .separator{width: 100%;}
  .section-left-home:hover .overlay{background: $overlay;}

  .section-right-home{
    height: calc(100vh - 70px);
    padding: 0; margin: 0;

    .section-left-item:first-child{
      height: 50%;
      background-image: url('../img/restaurant-2.jpg');
      background-size: 235%;
      background-position: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
    }
    .section-left-item:first-child:hover{background-size: 250%;}
    .section-left-item:first-child:hover .section-title .separator{width: 100%;}
    .section-left-item:first-child:hover .overlay{background: $overlay;}

    .section-left-item:last-child{
      height: 50%;
      background-image: url('../img/spa-3.jpg');
      background-size: 180%;
      background-position: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
    }
    .section-left-item:last-child:hover{background-size: 200%;}
    .section-left-item:last-child:hover .section-title .separator{width: 100%;}
    .section-left-item:last-child:hover .overlay{background: $overlay;}
  }

  .scroll{
    position: absolute;
    bottom: 5px;
    left: calc(50% - 15px);
    color: $gold;
    z-index: 5;
  }

  #anchor-1{
    position: relative;
    bottom: 70px;
  }

// ------------------------------------------- HOTEL
  .title{
    text-align: center;

    p{
      padding: 15px;
    }
    h2{
      text-transform: uppercase;
      padding: 10px 0px;
      font-size: 3em;
      letter-spacing: -0.08em;
      font-weight: bold;
      margin-bottom: 50px;
    }
  }

  #hotel{
    margin-top: 70px;
    color: $deepblue;
    // min-height: 100vh;

    .text{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p:first-child{
        font-family: 'Roboto Slab', serif;
        font-size: 1.3em;
        font-style: italic;
        color: $gold;
        margin-bottom: 30px;
      }
      p:nth-child(3){
        align-self: center;
        text-align: center;
        width: 150px;
        margin-bottom: 30px;
      }
    }
  }

// MAP

  #map{

    #container-map{
      width: 80%;
      height: 50vh;

      #popup-map{
        font-family: 'Geometria-Light';
        padding: 5px;
        text-transform: uppercase;
        font-size: 2em;
        color: $gold;

      }
    }
  }
}
