// RESET
body, h1, h2, h3, h4, h5, h6, p, a, ul, li{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
*{box-sizing: border-box;}
a, a:hover{color: inherit; text-decoration: none;}
strong{font-weight: normal;}
ul{list-style-type: none;}
input, select{outline: none;}
html{scroll-behavior: smooth;}

// FONTS
@font-face {
  font-family: 'Geometria-Light';
  src: url('../fonts/webfonts/367441_0_0.eot');
  src: url('../fonts/webfonts/367441_0_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/367441_0_0.woff2') format('woff2'),
  url('../fonts/webfonts/367441_0_0.woff') format('woff'),
  url('../fonts/webfonts/367441_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Geometria-Bold';
  src: url('../fonts/webfonts/Geometria-Bold.eot');
  src: url('../fonts/webfonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/Geometria-Bold.woff2') format('woff2'),
  url('../fonts/webfonts/Geometria-Bold.woff') format('woff'),
  url('../fonts/webfonts/Geometria-Bold.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');

// COLORS
$deepblue: #02152E;
$deepblue2: #0D2D56;
$gold: #bc9e48;
$lightgold: #c9af68;
$white: #FFFFFF;
$overlay: rgba(255, 255, 255, .2);
$bold: 'Geometria-Bold';


// MIXINS
$shadow: 0px 8px 20px -8px rgba(0,0,0,.6);
@mixin box-shadow($value){
  -webkit-box-shadow: $value;
      -moz-box-shadow: $value;
            box-shadow: $value;
}

@import 'header';
@import 'main';
@import 'footer';

noscript{
  position: fixed;
  top: 0;
  width: 100vw;
  font-family: 'Geometria-light';
  font-size: 0.8em;
  background: rgba(255, 0, 0, 0.5);
  color: $white;
  text-align: center;
  padding: 3px;
  z-index: 100;
}
